.container {
   height: 100vh;
}

.content {
   padding-top: 50px;
}

.content__table {
   margin-right: 20px;
   width: 100%;
   max-width: 899px;
   border: 1px solid rgb(60, 90, 96);
   border-radius: 10px;
   background-color: rgba(60, 90, 96, 0.5);
   box-shadow: 0 0 10px rgb(60, 90, 96);
}

.content__table-title,
.content__form-title {
   text-align: center;
}

.head-students__fullName,
.head-students__faculty,
.head-students__birthday,
.head-students__yearStartStudy {
   width: 25%;
   text-align: center;
   cursor: pointer;
}

.input-group {
   width: 50%;
}

.form-control {
   border-radius: 20px;
}

#searchBtn {
   border-radius: 0 20px 20px 0;
   background-color: rgb(1, 1, 144);
   color: white;
}

#searchBtn:hover {
   background-color: rgb(1, 1, 214);
}

.text-ac {
   text-align: center;
   vertical-align: middle;
}

.content__form {
   padding: 10px;
   max-width: 200px;
   width: 100%;
   border: 1px solid rgba(24, 173, 8);
   border-radius: 10px;
   background-color: rgba(24, 173, 8, 0.5);
   box-shadow: 0 0 10px rgba(24, 173, 8);
}

.input,
.form-control {
   text-align: center;
}

.btn-add {
   display: flex;
   margin: auto;
}

.text-search {
   margin-bottom: 0;
   text-align: center;
}

.input-content {
   display: flex;
   justify-content: space-between;
   margin: 0 10px 10px;
}

.cur-pointer {
   cursor: pointer;
}

.cur-default {
   cursor: default;
}

.table-danger {
    --bs-table-hover-bg: #b02a37 !important;
    border-color: #b02a37 !important;
}

.btn-ready {
   transform: translate(-75px);
   transition: transform .3s ease-in-out;
}

.btn-group>.btn:active, .btn-group>.btn:focus {
   z-index: 0;
   box-shadow: none;
}


